.header{
  color:white;
  background-color: #290c08;
   height:100vh;
   font-family: monospace;
   display: flex;
   flex-direction: column;
   justify-content: center;


}
.profile-pic{
  border-radius: 50%;
  height: 200px;
  width: 200px;
  align-self: center;

}
body{
  margin: 0;
}
.cont{
  margin:100px;



}
